@import "tailwindcss";

@theme {
    --color-accent1: oklch(70.4% 0.191 22.216);
    --color-accent2: oklch(75% 0.183 55.934);
}

#root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}